.alt-header {
  margin-bottom: 15px;
  padding: var(--horizontal-space);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
